<button (click)="getCookMeals()">Click me</button>


<div class="container">
    <!--Table-->
<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <!-- <th>Category</th>
        <th>Mealoption</th>
        <th>Ingredients</th> -->
        <th>Remove</th> 
      </tr>
    </thead>
    <!--Table head-->
  
    <!--Table body-->
    <tbody >
      <tr class="table-info" *ngFor="let meal of meals"  > 
        <th scope="row">{{meal.id}}</th>
        <td>{{meal.title}}</td>
        <td>{{meal.price}}</td>
        <td> <input type="number"  class="form-control"  (keyup.enter)="changeQuantity(meal.id, $any($event.target).value)" placeholder="{{meal.stock_quantity}}" ></td>
        <!-- <td>{{meal.category[0].title}}</td>
        <td>{{meal.mealoption[0].title}}</td>
        <td>{{meal.ingredients[0].title}}</td> -->
        <td style="color: red; font-weight: bold; cursor: pointer;" (click)="deleteMeal(meal.id)">X</td>
      </tr>
    </tbody>
    
    <!--Table body-->
  
  </table>
  <!--Table-->
</div>
<div *ngIf="deleteErrMsg" >{{deleteErrMsg}}</div>






<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <form class="p-3 py-5" [formGroup]="addMealForm" (ngSubmit)="onSubmit()">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Add Meal</h4>
                </div>
                <!-- <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Title</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Price</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                    <div class="col-md-6"><label class="labels">Stock Quantity</label><input type="text" class="form-control" value="" placeholder="patronymic"></div>
                </div> -->
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Title</label><app-text-input formControlName="title"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Price</label><app-text-input formControlName="price" [type]="'number'" ></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Stock Quantity</label><app-text-input formControlName="stock_quantity" [type]="'number'"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Categories</label>
                       <select class="form-select" multiple formControlName="category" (ngModelChange)="true"  aria-label="Default select example">
                        <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
                      </select>
                    </div>
                    <div class="col-md-12"><label class="labels">Ingredients</label>
                        <select class="form-select" multiple formControlName="ingredients" (ngModelChange)="true" aria-label="Default select example">
                         <option *ngFor="let ingredient of ingredients" [value]="ingredient.id">{{ingredient.title}}</option>
                       </select>
                     </div>
                     <div class="col-md-12"><label class="labels">Meal Options</label>
                        <select class="form-select" multiple formControlName="mealoption" (ngModelChange)="true" aria-label="Default select example">
                         <option *ngFor="let option of mealoptions" [value]="option.id">{{option.title}}</option>
                       </select>
                     </div>
                    <!-- <div class="col-md-12"><label class="labels">Payment Address</label><input type="text" class="form-control" placeholder="enter payment address" value=""></div>
                    <div class="col-md-12"><label class="labels">Work Experience</label><input type="text" class="form-control" placeholder="enter work experience" value=""></div> -->
                    <div class="col-md-12">
                        <div class="form-check">
                            <input formControlName="is_active" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Is Active?
                            </label>
                      </div>
                    </div>
                </div>
                <!-- <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div> -->
                <div class="mt-5 text-center"><input [disabled]="addMealForm.invalid"  class="btn btn-primary btn-lg" type="submit" value="Submit" /></div>
            </form>
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
              <h4 class="text-al">{{errorMsg}} <span routerLink="/profle">Click</span> </h4>
            </div>
          </div>
    </div>
</div>
<!-- </div>
</div> -->