<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right" *ngIf="user">

            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{user.first_name}} {{user.last_name}}</span>
                <span class="text-black-50">{{user.email}}</span><span> </span>
            </div>


        </div>


        <div class="col-md-5 border-right" *ngIf="user">

            <form [formGroup]="updateCourierForm"  (ngSubmit)="onCourierSubmit()" >
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                        <label class="form-label" for="first_name">Firstname</label>
                        <input formControlName="first_name" type="text" id="first_name" class="form-control form-control-lg" />
                
                        <span class="text-danger"
                        *ngIf="updateCourierForm.get('first_name').invalid
                        && updateCourierForm.get('first_name').touched
                        && updateCourierForm.get('first_name').errors['required']">
                        Firstname is required
                        </span>
                    </div>
                    <div class="form-outline">
                        <label class="form-label" for="last_name">Lastname</label>
                        <input formControlName="last_name" type="text" id="last_name" class="form-control form-control-lg" />
                        
                        <span class="text-danger"
                        *ngIf="updateCourierForm.get('last_name').invalid
                        && updateCourierForm.get('last_name').touched
                        && updateCourierForm.get('last_name').errors['required']">
                        Lastname is required
                        </span>
                    </div>
                    <div class="form-outline">
                        <label class="form-label" for="patronymic">Patronymic</label>
                        <input formControlName="patronymic" type="text" id="patronymic" class="form-control form-control-lg" />
                        
                        <span class="text-danger"
                        *ngIf="updateCourierForm.get('patronymic').invalid
                        && updateCourierForm.get('patronymic').touched
                        && updateCourierForm.get('patronymic').errors['required']">
                        Lastname is required
                        </span>
                    </div>
                    <div class="form-outline">
                        <label class="form-label" for="phone">Phone</label>
                        <input formControlName="phone" type="text" id="phone" class="form-control form-control-lg" />
                       
                        <span class="text-danger"
                        *ngIf="updateCourierForm.get('phone').invalid
                        && updateCourierForm.get('phone').touched
                        && updateCourierForm.get('phone').errors['required']">
                        Phone number is required
                        </span>
                    </div>

                    <div class="form-outline">
                        <label class="form-label" for="location">Location</label>
                        <input formControlName="location" type="text" id="location" class="form-control form-control-lg" />
                       
                        <span class="text-danger"
                        *ngIf="updateCourierForm.get('location').invalid
                        && updateCourierForm.get('location').touched
                        && updateCourierForm.get('location').errors['required']">
                        Location is required
                        </span>
                    </div>

                    <div class="form-outline">
                        <label class="form-label" for="transport">Transport</label>
                        <input formControlName="transport" type="text" id="transport" class="form-control form-control-lg" />
                       
                        <span class="text-danger"
                        *ngIf="updateCourierForm.get('transport').invalid
                        && updateCourierForm.get('transport').touched
                        && updateCourierForm.get('transport').errors['required']">
                        Transport is required
                        </span>
                    </div>

                    <div class="form-outline">
                        <label class="form-label" for="work_experience">Work Experience</label>
                        <input formControlName="work_experience" type="text" id="work_experience" class="form-control form-control-lg" />
                      
                        <span class="text-danger"
                        *ngIf="updateCourierForm.get('work_experience').invalid
                        && updateCourierForm.get('work_experience').touched
                        && updateCourierForm.get('work_experience').errors['required']">
                        Work experience is required
                        </span>
                    </div>


                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">Email</label>
                      <input formControlName="email" type="email" id="emailAddress" class="form-control form-control-lg" />
                      
                      <span class="text-danger"
                      *ngIf="updateCourierForm.get('email').invalid
                      && updateCourierForm.get('email').touched
                      && updateCourierForm.get('email').errors['required']">
                        Email address is required
                      </span>
                      <span class="text-danger"
                      *ngIf="updateCourierForm.get('email').invalid
                      && updateCourierForm.get('email').touched
                      && updateCourierForm.get('email').errors['pattern']">
                        Email address is not valid
                      </span> 
                    </div>

                    <div class="form-outline">
                        <div class="form-check">
                            <label class="form-check-label" for="is_available">
                                Is available?
                              </label>
                            <input formControlName="is_available" class="form-check-input" type="checkbox" value="" id="is_available">
                            
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="mt-4 pt-2">
                  <input [disabled]="updateCourierForm.invalid" class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div> 
              </form>

        </div>



        <div class="col-md-4 border-right">

            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <h1>Select seviceplace</h1>
                <div id="mapid" style="height:400px; width: 400px;"></div>
            </div>


        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-6">
            <ul>
                <li *ngFor="let area of courierDeliveryAreas" [value]="area.area.area_name - area.delivery_price">
                    {{area.area.area_name}} - {{area.delivery_price}}
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h3>Add Delivery Area</h3>
            <form [formGroup]="deliveryAreaForm"  (ngSubmit)="onDeliveryAreaFormSubmit()" >
                <div class="form-outline">
                    <select formControlName="area" (ngModelChange)="true" class="select form-control-lg">
                        <!-- <option value="1" disabled>Choose option</option> -->
                        <option *ngFor="let area of deliveryAreas" [value]="area.id">{{area.area_name}}</option>
                      </select>
                    <label class="form-label" for="area">Delivery Area</label>
                    <span class="text-danger"
                    *ngIf="deliveryAreaForm.get('area').invalid
                    && deliveryAreaForm.get('area').touched
                    && deliveryAreaForm.get('area').errors['required']">
                    Delivery Area is required
                    </span>
                </div>

                <div class="form-outline">
                    <label class="form-label" for="delivery_price">Price</label>
                    <input formControlName="delivery_price" type="number" id="delivery_price" class="form-control form-control-lg" />
                    
                    <span class="text-danger"
                    *ngIf="deliveryAreaForm.get('delivery_price').invalid
                    && deliveryAreaForm.get('delivery_price').touched
                    && deliveryAreaForm.get('delivery_price').errors['required']">
                    Price is required
                    </span>
                </div>
                <div class="mt-4 pt-2">
                    <input [disabled]="deliveryAreaForm.invalid" class="btn btn-primary btn-lg" type="submit" value="Submit" />
                  </div> 
            </form>
        </div>
    </div>
</div>