<div class="container rounded bg-white mt-5 mb-5" *ngIf="user">
    <div class="row">
        <div class="col-md-3 border-right" >
            
                <div  class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">{{user.user.first_name}} {{user.user.last_name}}</span>
                    <span class="text-black-50">{{user.user.email}}</span><span> </span>
                </div>

            
        </div>
        <div class="col-md-5 border-right">
            <form class="p-3 py-5" [formGroup]="updateRegisterForm" (ngSubmit)="onSubmit()">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><app-text-input formControlName="first_name" value="{{user.user.first_name}}"></app-text-input></div>
                    <div class="col-md-6"><label class="labels">Surname</label><app-text-input formControlName="last_name" value="{{user.user.last_name}}"></app-text-input></div>
                    <div class="col-md-6"><label class="labels">Patronymic</label><app-text-input formControlName="patronymic" value="{{user.user.patronymic}}"></app-text-input></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><app-text-input formControlName="phone" value="{{user.user.phone}}"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Email</label><app-text-input formControlName="email" value="{{user.user.email}}"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Birth Place</label><app-text-input formControlName="birth_place"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">City</label><app-text-input formControlName="city"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Service Place</label>
                       <select formControlName="service_place" (ngModelChange)="true" class="form-select" aria-label="Default select example">
                        <option disabled>Open this select menu</option>
                        <option [value]="1">Yasamal</option>
                        <option [value]="2">Nesimi</option>
                        <option [value]="3">Xetai</option>
                      </select>
                      </div>
                    <div class="col-md-12"><label class="labels">Payment Address</label><app-text-input formControlName="payment_address"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Work Experience</label><app-text-input formControlName="work_experience" [type]="'number'"></app-text-input></div>
                    <div class="col-md-12"><label class="labels">Rating</label><input disabled type="text" class="form-control" placeholder="" value=""></div>
                    <div class="col-md-12">
                        <div class="form-check">
                            <input formControlName="is_available" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Is Available?
                            </label>
                      </div>
                    </div>
                </div>
                <!-- <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div> -->
                <div class="mt-5 text-center"><input [disabled]="updateRegisterForm.invalid" class="btn btn-primary btn-lg" type="submit" value="Submit" /></div>
            </form>
        </div>
        <div class="col-md-4 border-right">
            
            <div  class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div id="mapid" style="height:180px"></div>
            </div>

        
    </div>
    </div>
</div>
<!-- </div>
</div> -->