<div class="container mb-4">
    <div class="row pt-2 pb-4">
        <div class="col-lg-8">
            <form action="#">
                <div class="row pt-4">
                    <div class="col-lg-6 pl-0">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter name" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter email" required="">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Enter Address" id="Address"
                                required=""></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter city" required="">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 pl-0">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter State" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 pr-0 mob-pl-0">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Enter Zip" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 pt-1">
            <div class="row pt-4">
                <div class="col-8">
                    <h3 class="mb-0 pb-2">Cart</h3>
                </div>
                <div class="col-4">
                    <h3 class="mb-0 pb-2">4</h3>
                </div>
            </div>
            <div class="row  pt-2">
                <div class="col-8">
                    <h5 class="pb-2">Iphone</h5>
                    <h5 class="pb-2">Sony</h5>
                    <h5 class="pb-2">Dell</h5>
                </div>
                <div class="col-4">
                    <h5 class="pb-2">$1200</h5>
                    <h5 class="pb-2">$1000</h5>
                    <h5 class="pb-2">$1820</h5>
                </div>
            </div>
            <div class="row border-top  border-dark">
                <div class="col-8">
                    <h5 class="pt-2">Total</h5>
                </div>
                <div class="col-4">
                    <h5 class="pt-2">$4020</h5>
                </div>
            </div>
            <div class="row pb-5 pt-4">
                <div class="col-12">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Shipping address same as
                            billing
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Complate Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>